/* .st-emotion-cache-8atqhb {
    min-width: 1200px;
} */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

.st-emotion-cache-1w723zb {
    min-width: 800px;
}

h1 {
    font-family: 'Arial', sans-serif;
    color: #5e32fc;
    text-align: center;
    text-transform: uppercase;
}

.stApp h3 {
    font-size: 1.8rem;
}

.stApp h2 {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}

/* ---------------- NAVIGATION TAB ---------------- */
/* .stTabs [data-baseweb="tab-list"] {
    justify-content: space-between;
}

.stTabs [data-baseweb="tab"] {
    flex-grow: 1;
    text-align: center;
}

.tab-content {
    min-height: 1800px;
} */

/* removed built-in tab indicator*/
.st-c7 {
    height: 0 !important;
    background: transparent !important;
    border: none !important;
}

.st-ca {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
}

.st-aq {
    gap: 0 !important;
}

.st-c6 {
    height: 0rem !important;
}


.st-emotion-cache-tn0cau {
    min-height: 800px; /* set minimum height to each tab content */
}

button[role="tab"]:focus {
    outline: none !important;
}

/* Tab container */
.stTabs [role="tablist"] {
    justify-content: space-between;
}

/* Tabs */
.stTabs [role="tab"] {
    flex-grow: 1;
    text-align: center;
    background-color: #000000;
    padding: 8px 18px;
    border-radius: 0;
    color: #ffffff;
    font-weight: 500;
    /* border-bottom: 1px solid #ddd; */
}

/* Selected Tab */
.stTabs [aria-selected="true"] {
    background-color: #FBC02D;
    color: rgb(0, 0, 0);
    border: 1px solid #FBC02D;
}

/* Overview Section */
.global-happiness {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 2.8rem;
    color: #0f6a69;
}

.custom-box{
    padding: 15px;
    background-color: #FFF8E1;
    border-left: 4px solid #FBC02D;
    border-radius: 8px;
    color: #222222;
}

/* dataset */

/* Highlight steps on data preparation and exploration */
/* F9B800, F7C96F, FFE5A3*/
.custom-step{
    padding: 10px;
    background-color: #F9B800;
    border-radius: 8px;
    color: #222222;
    font-size: 27px;
    font-weight: bold;
    margin-bottom: 20px;;
}
